:root{
    --branco: #FFFFFF;
    --cinza: #AEB2AE;
    --fundo: #000000;
    --fonte-principal: 'Inter';
}

body{
    background-color: var(--fundo);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("alunos.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position:;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 28% 72%;
}

.insta_botao{
    background-color: var(--branco);
    border-radius: 5px;
    padding: 1em;
    color: var(--fundo);
    display: block;
    text-decoration: none;
    margin: 0 0 0 3em;
}

.imagem{
    margin: 2em 0 1em 3em;
}

.titulo{
    margin: 3em 0 0 1em;
}