:root{
    --branco: #FFFFFF;
    --cinza: #AEB2AE;
    --fundo: #000000;
    --fonte-principal: 'Inter';
    --troca: #47d605;
    --clique: purple;
}

body{
    background-color: var(--fundo);
    color: var(--branco);
    font-family: var(--fonte-principal);
    font-size: 20px;
    font-weight: 400;
}

*{
    margin: 0;
    padding: 0;
}

.principal{
    background-image: url("alunos.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 28% 72%;
}

.insta_botao{
    background-color: var(--branco);
    border-radius: 5px;
    padding: 1em;
    color: var(--fundo);
    display: block;
    text-decoration: none;
    margin: 0 0 0 3em;
}

.insta_botao:hover{
    background-color: var(--troca);
    color: var(--branco);
}

.insta_botao:active{
    background-color: var(--clique);
}

.imagem{
    margin: 0 0 0 3em;
}

.titulo{
    margin: 0 0 0 1em;
}

.imagem_monitores{
    width: 50%;
    margin: 2em 0 0 2em;
}

.monitores{
    align-items: center;
    margin: 0 2em 0 0;
}

.descricao_titulos{
    font-weight: 700;
    font-size: 64px;
    color: var(--branco);
}

.descricao_texto{
    font-weight: 700;
    font-size: 32px;
    color: var(--cinza);
}

.rodape{
    font-weight: 700;
    font-size: 24px;
    color: var(--cinza);
    text-align: right;
}

.texto_rodape{
    margin: 3em 1em 1em 0;
    font-size: 24px;
}

.lista{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
}

.lista1:hover{
    color: var(--troca);
}

.lista1:active{
    color: var(--clique);
}

.descricao_monitores{
    text-align: center;
    margin: 5em 0 0 0;
}